params {
    PARENT = "/home/igor/Programming/CRG/helix_kmer_counter/"
    SCRIPTS = "${PARENT}scripts/"
    PIPES = "${PARENT}"
    CONTAINER = "python:slim-buster@sha256:fe2971bedd019d952d4458afb1fe4e222ddb810150008c1dee5a068d38bb0e43"
}

docker.enabled = true

process.container = "python:slim-buster@sha256:fe2971bedd019d952d4458afb1fe4e222ddb810150008c1dee5a068d38bb0e43"
